name: CD - Enviar imagem ao Docker Hub

on:
  push:
    branches:
      - docker-build

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build da imagem
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:latest .

      - name: Push da imagem
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:latest
